/* TITLES */
.titleLarge {
  font-size: 100px;
  line-height: 100px;
  text-transform: capitalize;
  font-weight: 800;
}

/* MENU */

.noWayThisGonWork {
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.noWayThisGonWork .menuBtn {
  color: #fff;
}

.noWayThisGonWork .menuItems {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noWayThisGonWork .menuItems a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.noWayThisGonWork .menuItems a:not(:last-child) {
  margin-bottom: 40px;
}

.noWayThisGonWork .logoArea {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  top: 40px;
}

.noWayThisGonWork .logoArea .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 150px;
  display: block;
  border: 1px solid #5CD0FE;
  margin: 15px auto 0;
  z-index: 1;
  position: relative;
}

.noWayThisGonWork .logoArea h3 {
  font-size: 30px;
  margin: 10px 0 20px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 300;
  z-index: 1;
  position: relative;
  text-align: center;
  color: #fff;
}

.menuBtn {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 20px;
  transition: .3s;
  z-index: 1;
  color: #fff;
}

.menuBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .3s;
}

/* MAIN */

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: inline-block;
}

.container {
  background: url('../public/heroBackground.jpg');
  background-position: right;
  background-size: cover;
}

.ValtechLogoBlack {
  margin: 0 auto 16px;
  width: 362px;
  height: 74px;
}

.ValtechLogoBlackContainer {
  position: relative;
}

.blackBtn {
  background: #000;
  width: 186px;
  height: 60px;
  box-shadow: 0px 0px 34px #0000001a;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  z-index: 1;
  position: relative;
  font-weight: 600;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.scrollIcons svg:first-child {
  font-size: 24px;
  position: absolute;
  top: 1010px;
  width: 100%;
}

.scrollIcons svg:nth-child(2) {
  top: 1053px;
  font-size: 12px;
  position: absolute;
  width: 100%;
}

.main {
  display: grid;
  height: 1080px;
  text-align: center;
  align-items: center;
  position: relative;
}

.container .backgroundTitle {
  font-size: 200px;
  line-height: 273px;
  letter-spacing: -10px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  top: 376px;
  color: #EEEEEE;
  z-index: 0;
}

.container .title {
  font-size: 59px;
  line-height: 75px;
  letter-spacing: 2.95px;
  margin: 0 0 16px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 300;
  z-index: 1;
  position: relative;
}

.container .blueLine {
  content: '';
  height: 4px;
  background: blue;
  width: 242px;
  display: block;
  background: #5CD0FE;
  margin: 0 auto 4px;
  z-index: 1;
  position: relative;
}

.container .rectangleLines {
  position: absolute;
  top: 616px;
  left: -31.000015258789062px;
  width: 534px;
  height: 241px;
}

.oval {
  position: absolute;
  top: 578px;
  left: 1658px;
  width: 538px;
  height: 436px;
  opacity: .8;
}

.container .oval6 {
  position: absolute;
  top: -197px;
  width: 506px;
  height: 410px;
  left: -260px;
}

.sectionTwo {
  background: #f9f9f9;
  display: grid;
  height: 1080px;
  text-align: center;
  align-items: center;
}

.sectionTwo .backgroundTitle {
  font-size: 200px;
  line-height: 273px;
  letter-spacing: -10px;
  font-weight: 800;
  position: absolute;
  top: 1211px;
  width: 100%;
  color: #F0F0F0;
  z-index: 0;
}

.sectionTwo .title {
  font-size: 80px;
  line-height: 109px;
  letter-spacing: -4px;
  color: #111;
  margin: 0 0 8px 0;
  display: block;
  z-index: 1;
  position: relative;
}

.sectionTwo .blueLine {
  content: '';
  height: 4px;
  width: 500px;
  display: block;
  margin: 0 auto 28px;
  background: #5CD0FE;
  z-index: 1;
  position: relative;
}

.sectionTwo .blueCircle {
  top: 1225px;
  left: 370px;
  width: 554px;
  height: 554px;
  background: #5DD1FF 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  border-radius: 100%;
}

.sectionTwo .episodeFilter {
  z-index: 1;
  position: relative;
}

.sectionTwo .episodeFilter a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2.31px;
  color: #111;
  padding-bottom: 11px;
  transition: .3s;
  border-bottom: 2px solid transparent;
  margin-bottom: 32px;
  display: inline-block;
}

.sectionTwo .episodeFilter a:not(:last-child) {
  margin-right: 32px;
}

.sectionTwo .episodeFilter a:hover {
  border-bottom: 2px solid #111;
  cursor: pointer;
  transition: .3s;
}

.sectionTwo .episodeCards {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 262px);
  max-width: 1280px;
  margin: 0 auto 76px;
  grid-column-gap: 32px;
}

.sectionTwo .episodeCards>div {
  background: #fff;
  box-shadow: 0px 0px 20px #0000001A;
  padding: 32px;
  border-radius: 4px;
  text-align: left;
  display: grid;
}

.sectionTwo .episodeCards>div h3 {
  margin: 0 0 8px 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  color: #000;
}

.sectionTwo .episodeCards>div p {
  font-weight: bold;
  margin: 0 0 4px 0;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.sectionTwo .episodeCards>div>div:first-child>span {
  color: #777777;
  font-size: 13px;
  line-height: 13px;
}

.sectionTwo .episodeCards>div>div:nth-child(2) {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sectionTwo .episodeCards>div>div:nth-child(2) span {
  display: grid;
}

.sectionTwo .outlinedBtn {
  background: #fff;
  width: 146px;
  height: 50px;
  box-shadow: 0px 1px 30px #00000000;
  color: #111;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
  z-index: 1;
  position: relative;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  box-sizing: border-box;
  border: 2px solid #000;
  margin: 0 auto;
}

/* SECTION 3 */

.sectionThree {
  background: #111;
  height: 980px;
  position: relative;
}

.sectionThree>section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  color: #fff;
  align-items: center;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  align-content: center;
}

.sectionThree>section>div:first-child {
  text-align: left;
}

.sectionThree>section>div h2 {
  font-size: 80px;
  line-height: 66px;
  letter-spacing: -3px;
  margin: 0 0 16px 0;
  z-index: 1;
  position: relative;
  width: 457px;
  height: 175px;
}

.sectionThree>section>div .blueLine {
  content: '';
  height: 4px;
  background: #5CD0FE;
  width: 242px;
  display: block;
  margin: 0 0 20px;
  z-index: 1;
  position: relative;
}

.sectionThree>section>div p {
  font-size: 18px;
  line-height: 30px;
  color: #ccc;
  font-weight: 400;
  position: relative;
  width: 359px;
  margin: 0;
}

.sectionThree>section>div:last-child {
  margin-left: auto;
}

.sectionThree .backgroundTitle {
  font-size: 200px;
  line-height: 156px;
  letter-spacing: -9.72px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #232323;
  text-align: left;
  z-index: 1;
  left: 414px;
  top: 161px;
}

.sectionThree .oval2 {
  position: absolute;
  width: 670px;
  height: 543px;
  z-index: 0;
  top: 186px;
  left: 361px;
}

.sectionThree div.person1 {
  width: 488px;
  height: 100%;
  position: relative;
}

/* SECTION FOUR */
.sectionFour {
  height: 1100px;
  position: relative;
  background: #F9F9F9;
}

.sectionFour>section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  max-width: 1146px;
  margin: 0 auto;
  padding-top: 164px;
  align-items: center;
}

.sectionFour>section>div:first-child .personTitle {
  position: absolute;
  bottom: 248px;
  left: 501px;
}

.sectionFour>section>div:first-child .personTitle p {
  margin: 0 0 4px;
  font-size: 20px;
  line-height: 26px;
  color: #111;
  font-weight: 400;
  z-index: 2;
  position: relative;
}

.sectionFour>section>div:first-child .personTitle h2 {
  font-size: 90px;
  line-height: 72px;
  letter-spacing: -3.75px;
  color: #111;
  font-weight: 800;
  margin: 0;
}

.sectionFour>section>div h2 {
  margin: 0 0 20px 0;
  display: block;
  z-index: 1;
  position: relative;
}

.sectionFour .backgroundTitle {
  font-size: 200px;
  line-height: 156px;
  letter-spacing: -9.72px;
  font-weight: 800;
  position: absolute;
  left: 1092px;
  bottom: 537px;
  width: 100%;
  color: #fff;
  z-index: 1;
  opacity: .3;
  height: 273px;
  display: grid;
  align-content: center;
}

.sectionFour>section>div .blueLine {
  content: '';
  height: 4px;
  background: #5CD0FE;
  width: 242px;
  display: block;
  margin: 0;
  z-index: 1;
  position: relative;
}

.sectionFour>section>div:first-child>div h2,
.sectionFour>section>div:first-child>div .blueLine {
  z-index: 2;
  position: relative;
}

.sectionFour .oval3 {
  position: absolute;
  z-index: 1;
  left: 421px;
  width: 510px;
  height: 342px;
  bottom: 164px;
}

.sectionFour>section>div:first-child .rectangleLines {
  position: absolute;
  left: 560px;
  width: 469px;
  height: 185px;
  z-index: 1;
  bottom: 215px;
}

.sectionFour .oval4 {
  position: absolute;
  left: 908px;
  width: 727px;
  height: 602px;
  z-index: 0;
  bottom: 300px;
}

.sectionFour>section>div:last-child p {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  max-width: 350px;
  margin: 0;
}

.sectionFour>section>div:last-child h2 {
  font-size: 80px;
  line-height: 58px;
  position: relative;
  z-index: 2;
  letter-spacing: -4px;
  color: #000;
  width: 315px;
  font-weight: 800;
  margin: 0 0 8px;
  height: 167px;
  display: grid;
  align-content: center;
}

.sectionFour .person2 {
  position: relative;
  z-index: 1;
}

.sectionFour>section>div:last-child .rectangleLines {
  position: absolute;
  left: 805px;
  width: 469px;
  height: 185px;
  z-index: 1;
  bottom: 602px;
}

.sectionFour div.person2 {
  width: 553px;
  height: 100%;
  position: relative;
}

/* SECTION FIVE */

.sectionFive {
  background: #111;
  color: #fff;
  height: 1161px;
  text-align: center;
  display: grid;
  padding-top: 279px;
  position: relative;
}

.sectionFive .backgroundTitle {
  font-size: 200px;
  line-height: 156px;
  letter-spacing: -9.72px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #222;
  z-index: 0;
  left: 0;
  height: 273px;
  display: grid;
  align-items: center;
  top: 164px;
}

.sectionFive h2 {
  font-size: 80px;
  line-height: 109px;
  letter-spacing: -4px;
  margin: 0;
  z-index: 1;
  position: relative;
}

.sectionFive p {
  font-size: 18px;
  line-height: 28px;
  color: #ccc;
  font-weight: 400;
  position: relative;
  margin: 0 0 32px 0;
}

.sectionFive .blueLine:nth-child(3) {
  content: '';
  height: 4px;
  background: #5CD0FE;
  width: 350px;
  display: block;
  margin: 0 auto 17px;
  z-index: 1;
  position: relative;
}

.sectionFive .blueLine:nth-child(10) {
  content: '';
  height: 2px;
  background: #5CD0FE;
  width: 140px;
  display: block;
  margin: 0 auto 40px;
  z-index: 1;
  position: relative;
}

.sectionFive .subscribeInput {
  display: inline-flex;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
}

.sectionFive .subscribeInput input::placeholder {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #999;
}

.sectionFive .subscribeInput input {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  height: 60px;
  width: 256px;
  outline: none;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  padding-left: 56px;
}

.sectionFive .subscribeInput button {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  box-sizing: border-box;
  width: 130px;
  height: 60px;
  background: #5CD0FE;
  text-transform: uppercase;
}

.sectionFive .faEnvelope {
  position: absolute;
  left: 20px;
  display: grid;
  align-self: center;
  display: block;
  color: #000;
  font-size: 18px;
}

.sectionFive .divider {
  content: '';
  height: 1px;
  background: #222;
  width: 800px;
  display: block;
  margin: 0 auto 100px;
  z-index: 1;
  position: relative;
}

.sectionFive .ValtechLogoWhite {
  height: 40px;
  width: 190px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sectionFive .episodeFilter {
  margin-bottom: 96px;
}

.sectionFive .episodeFilter a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2.5px;
}

.sectionFive .episodeFilter a:not(:last-child) {
  padding-right: 68px;
}

.sectionFive .copyrightText {
  font-size: 16px;
  line-height: 28px;
  color: #ccc;
  margin: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  /* SECTION 1 */

  .main {
    height: auto;
    padding: 50% 0;
  }

  .container {
    background: none;
  }

  .container .ValtechLogoBlackContainer {
    height: 40px;
  }

  .container .backgroundTitle {
    font-size: 20vw;
    top: 20%;
  }

  .container .title {
    font-size: 35px;
  }

  .container .blueLine {
    width: 125px;
  }

  .container .rectangleLines {
    display: none;
  }

  .oval {
    bottom: -60%;
    right: -90%;
    width: 450px;
    transform: rotate(270deg);
  }

  /* SECTION 2 */

  .sectionTwo .blueCircle {
    display: none;
  }

  .sectionTwo .title {
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    padding: 0 20px;
  }

  .sectionTwo .backgroundTitle {
    font-size: 20vw;
    top: 0;
    text-transform: capitalize;
    left: -5%;
  }

  .sectionTwo .blueLine {
    width: 200px;
    margin: 10px 20px;
  }

  .sectionTwo .episodeFilter {
    display: none;
  }

  .scrollIcons {
    display: none;
  }

  .sectionTwo .episodeCards {
    padding: 20px;
    overflow-x: scroll;
    max-width: 320px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(300px, 1fr);
    grid-template-columns: none;
  }

  .sectionTwo .episodeCards>div h3 {
    font-size: 30px;
    line-height: 34px;
  }

  .sectionTwo .episodeCards>div p {
    margin: 20px 0 5px;
  }

  .sectionTwo .episodeCards>div>div:first-child>span {
    opacity: .5;
  }

  .sectionTwo .episodeCards>div>div:nth-child(2) {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* SECTION 3 */

  .sectionThree {
    height: auto;
  }

  .sectionThree>section {
    display: block;
    height: auto;
    padding: 50px 0;
  }

  .sectionThree>section>div h2 {
    font-size: 50px;
    line-height: 50px;
    padding: 20px;
  }

  .sectionThree>section>div .blueLine {
    margin: 30px 20px 20px;
  }

  .sectionThree>section>div p {
    padding: 0 20px;
  }

  .sectionThree .backgroundTitle {
    font-size: 20vw;
    line-height: 20vw;
    top: 20%;
    top: 0;
    left: 0;
    padding: 20px;
  }

  .sectionThree .oval2 {
    display: none;
  }

  .sectionThree div.person1 {
    width: auto !important;
    height: 100%;
    position: relative;
    margin: 20px !important;
  }

  /* SECTION 4 */
  .sectionFour {
    height: auto;
    position: relative;
  }

  .sectionFour>section {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .sectionFour>section>div h2 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 20px 0;
    display: block;
    text-transform: capitalize;
    font-weight: 800;
    z-index: 1;
    position: relative;
  }

  .sectionFour .backgroundTitle {
    font-size: 100px;
    line-height: 100px;
    font-weight: 800;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    opacity: .25;
  }

  .sectionFour>section>div p {
    font-size: 18px;
    line-height: 28px;
    padding-right: 25%;
    font-weight: 400;
    display: none;
  }

  .sectionFour>section>div .blueLine {
    content: '';
    height: 2px;
    background: blue;
    width: 100%;
    display: block;
    border: 2px solid #5CD0FE;
    margin: 0;
    z-index: 1;
    position: relative;
  }

  .sectionFour>section>div:first-child>div {
    position: absolute;
    bottom: -10%;
    left: 3%;
    padding: 20px;
    width: 100%;
  }

  .sectionFour>section>div:first-child>div p {
    margin: 0 0 5px 0;
    z-index: 2;
    position: relative;
    display: block
  }

  .sectionFour>section>div:first-child>div h2,
  .sectionFour>section>div:first-child>div .blueLine {
    z-index: 2;
    position: relative;
  }

  .sectionFour .oval3 {
    position: absolute;
    color: #fff;
    z-index: 1;
    bottom: 0;
    width: 141%;
    height: 126%;
    left: -22%;
    bottom: -13%;
    transform: rotate(1deg);
  }

  .sectionFour>section>div:first-child .rectangleLines {
    position: absolute;
    bottom: 200px;
    width: 450px;
    height: 184px;
    right: -70%;
    bottom: -10%;
    z-index: 1;
  }

  .sectionFour .oval4 {
    position: absolute;
    width: 150%;
    height: 160%;
    color: #fff;
    z-index: 0;
    bottom: -23%;
    left: -45%;
    display: none;
  }

  .sectionFour .oval5 {
    width: 170%;
    height: auto;
    position: absolute;
    top: -150px;
    left: -35%;
  }

  .sectionFour>section>div:last-child {
    grid-row-start: 1;
    padding: 0 20px;
  }

  .sectionFour>section>div:last-child p {
    position: relative;
    z-index: 1;
  }

  .sectionFour>section>div:last-child h2 {
    position: relative;
    z-index: 2;
  }

  .sectionFour .person2 {
    position: relative;
    z-index: 1;
  }

  .sectionFour>section>div:last-child .rectangleLines {
    position: absolute;
    width: 450px;
    height: 184px;
    z-index: 1;
    left: -100%;
    bottom: -20%;
  }

  .sectionFour div.person2 {
    width: auto !important;
    height: 450px;
    position: relative;
    margin: 20px !important;
  }

  /* SECTION FIVE */

  .sectionFive {
    background: #111;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }

  .sectionFive>section {
    position: relative;
  }

  .sectionFive .backgroundTitle {
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    opacity: .1;
    left: 0;
    top: -7.5%;
    display: none;
  }

  .sectionFive h2 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 20px 20px;
    display: block;
    text-transform: capitalize;
    font-weight: 800;
    z-index: 1;
    position: relative;
    text-align: left;
  }

  .sectionFive p {
    font-size: 18px;
    line-height: 28px;
    opacity: .75;
    font-weight: 400;
    text-align: left;
    padding: 20px;
  }

  .sectionFive .blueLine:nth-child(3) {
    content: '';
    height: 2px;
    background: blue;
    width: 450px;
    display: block;
    border: 2px solid #5CD0FE;
    margin: 0 auto 30px;
    z-index: 1;
    position: relative;
    display: none;
  }

  .sectionFive .blueLine:nth-child(10) {
    content: '';
    height: 2px;
    background: blue;
    width: 150px;
    display: block;
    border: 1px solid #5CD0FE;
    margin: 20px auto 30px;
    z-index: 1;
    position: relative;
    display: none;
  }

  .sectionFive .subscribeInput {
    display: block;
    margin: 20px;
  }

  .sectionFive .subscribeInput input::placeholder {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .sectionFive .subscribeInput input {
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 20px 0;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }

  .sectionFive .subscribeInput button {
    margin-top: 20px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 20px 0;
    background: #5CD0FE;
    text-transform: uppercase;
    width: 100%;
  }

  /* FIX THIS LATER! */
  .sectionFive .faEnvelope {
    display: none;
  }

  .sectionFive .divider {
    content: '';
    height: 2px;
    background: blue;
    width: 850px;
    display: block;
    border: 1px solid #333;
    margin: 100px auto 100px;
    z-index: 1;
    position: relative;
    display: none;
  }

  .sectionFive .episodeFilter {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .sectionFive .episodeFilter a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: block;
    text-align: center;
  }

  .sectionFive .episodeFilter a:not(:last-child) {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .sectionFive .copyrightText {
    text-align: center;
  }

  /* MENU */
  .noWayThisGonWork .logoArea>div {
    max-height: 20px;
  }

  .noWayThisGonWork .logoArea .blueLine {
    width: 75px;
  }

  .noWayThisGonWork .logoArea h3 {
    font-size: 18px;
  }
}