.container {
  background: url('../public/heroBackground.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
}

.ValtechLogoBlack {
  border: 2px solid red;
}

.blackBtn {
  background: #000;
  padding: 20px 45px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  z-index: 1;
  position: relative;
  font-weight: 600;
}

.menuBtn {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 20px;
}

.scrollIcons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.scrollIcons svg:first-child {
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

.scrollIcons svg:nth-child(2) {
  font-size: 15px;
  display: block;
  margin: 10px auto 0;
}

.main {
  display: grid;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.container .backgroundTitle {
  font-size: 175px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #000;
  z-index: 0;
  opacity: .1;
  margin-bottom: 5%;
}

.container .title {
  font-size: 75px;
  margin: 0 0 20px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 300;
  z-index: 1;
  position: relative;
}

.container .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 275px;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 15px auto 0;
  z-index: 1;
  position: relative;
}

.container .rectangleLines {
  position: absolute;
  bottom: 200px;
  left: -150px;
  width: 450px;
  height: 184px;
}

.oval {
  position: absolute;
  bottom: 0;
  right: -20%;
  width: 650px;
  height: 100%;
  opacity: .8;
}

.sectionTwo {
  display: grid;
  height: 100vh;
  text-align: center;
  align-items: center;
  position: relative;
}

.sectionTwo .backgroundTitle {
  font-size: 175px;
  font-weight: 800;
  position: absolute;
  top: 7.5%;
  width: 100%;
  color: #000;
  z-index: 0;
  opacity: .1;
}

.sectionTwo .title {
  font-size: 100px;
  margin: 0 0 20px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 800;
  z-index: 1;
  position: relative;
}

.sectionTwo .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 675px;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 15px auto 0;
  z-index: 1;
  position: relative;
}

.sectionTwo .blueCircle {
  top: 10%;
  left: 10%;
  width: 575px;
  height: 575px;
  background: #5DD1FF 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  border-radius: 100%;
}

.sectionTwo .episodeFilter {
  z-index: 1;
  position: relative;
  margin-top: 30px;
}

.sectionTwo .episodeFilter a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.sectionTwo .episodeFilter a:not(:last-child) {
  padding-right: 20px;
}

.sectionTwo .episodeCards {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1280px;
  margin: 50px auto 0;
  grid-column-gap: 30px;
}

.sectionTwo .episodeCards>div {
  background: #fff;
  box-shadow: 0px 0px 20px #0000002A;
  padding: 35px;
  border-radius: 5px;
  text-align: left;
  display: grid;
}

.sectionTwo .episodeCards>div h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.sectionTwo .episodeCards>div p {
  font-weight: bold;
  margin: 20px 0 10px;
}

.sectionTwo .episodeCards>div>div:first-child>span {
  opacity: .5;
}

.sectionTwo .episodeCards>div>div:nth-child(2) {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sectionTwo .episodeCards>div>div:nth-child(2) span {
  display: grid;
}

.sectionTwo .outlinedBtn {
  background: #fff;
  padding: 20px 45px;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  z-index: 1;
  position: relative;
  font-weight: 700;
  box-sizing: border-box;
  border: 2px solid #000;
  margin-top: 100px;
}

.sectionThree {
  background: #111;
  height: 100vh;
  position: relative;
}

.sectionThree>section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  color: #fff;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

.sectionThree>section>div:first-child {
  text-align: left;
  position: relative;
}

.sectionThree>section>div h2 {
  font-size: 100px;
  line-height: 100px;
  margin: 0 0 20px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 800;
  z-index: 1;
  position: relative;
}

.sectionThree>section>div .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 50%;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 30px 0 20px;
  z-index: 1;
  position: relative;
}

.sectionThree>section>div p {
  font-size: 18px;
  line-height: 28px;
  opacity: .75;
  padding-right: 25%;
  font-weight: 400;
}

.sectionThree>section>div:last-child {
  margin: 0 auto;
}

.sectionThree .backgroundTitle {
  font-size: 200px;
  line-height: 200px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
  opacity: .1;
  top: -25%;
  left: -10%;
}

.sectionThree .oval2 {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 0;
  top: -40%;
  left: -20%;
}

/* SECTION FOUR */
.sectionFour {
  height: 100vh;
  position: relative;
}

.sectionFour>section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

.sectionFour>section>div h2 {
  font-size: 100px;
  line-height: 100px;
  margin: 0 0 20px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 800;
  z-index: 1;
  position: relative;
}

.sectionFour .backgroundTitle {
  font-size: 200px;
  line-height: 200px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
  opacity: .25;
}

.sectionFour>section>div p {
  font-size: 18px;
  line-height: 28px;
  padding-right: 25%;
  font-weight: 400;
}

.sectionFour>section>div .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 50%;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 0;
  z-index: 1;
  position: relative;
}

.sectionFour>section>div:first-child>div {
  position: absolute;
  bottom: 15%;
  left: 3%;
}

.sectionFour>section>div:first-child>div p {
  margin: 0 0 5px 0;
  z-index: 2;
  position: relative;
}

.sectionFour>section>div:first-child>div h2,
.sectionFour>section>div:first-child>div .blueLine {
  z-index: 2;
  position: relative;
}

.sectionFour .oval3 {
  position: absolute;
  color: #fff;
  z-index: 1;
  bottom: 0;
  width: 160%;
  height: 150%;
  left: -27%;
  bottom: -36%;
  transform: rotate(7deg);
}

.sectionFour>section>div:first-child .rectangleLines {
  position: absolute;
  bottom: 200px;
  width: 450px;
  height: 184px;
  right: -70%;
  bottom: -23%;
  z-index: 1;
}

.sectionFour .oval4 {
  position: absolute;
  width: 150%;
  height: 160%;
  color: #fff;
  z-index: 0;
  bottom: -23%;
  left: -45%;
}

.sectionFour>section>div:last-child {
  position: relative;
}

.sectionFour>section>div:last-child p {
  position: relative;
  z-index: 1;
}

.sectionFour>section>div:last-child h2 {
  position: relative;
  z-index: 2;
}

.sectionFour .person2 {
  position: relative;
  z-index: 1;
}

.sectionFour>section>div:last-child .rectangleLines {
  position: absolute;
  bottom: 200px;
  width: 450px;
  height: 184px;
  z-index: 1;
  left: -55%;
}