/* TITLES */
.titleLarge {
  font-size: 100px;
  line-height: 100px;
  text-transform: capitalize;
  font-weight: 800;
}

/* MENU */

.noWayThisGonWork {
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.noWayThisGonWork .menuBtn {
  color: #fff;
}

.noWayThisGonWork .menuItems {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noWayThisGonWork .menuItems a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.noWayThisGonWork .menuItems a:not(:last-child) {
  margin-bottom: 40px;
}

.noWayThisGonWork .logoArea {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  top: 40px;
}

.noWayThisGonWork .logoArea .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 150px;
  display: block;
  border: 1px solid #5CD0FE;
  margin: 15px auto 0;
  z-index: 1;
  position: relative;
}

.noWayThisGonWork .logoArea h3 {
  font-size: 30px;
  margin: 10px 0 20px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 300;
  z-index: 1;
  position: relative;
  text-align: center;
  color: #fff;
}

.menuBtn {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 20px;
  transition: .3s;
  z-index: 1;
}

.menuBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .3s;
}

/* MAIN */

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: inline-block;
}

.container {
  background: url('../public/heroBackground.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
}

.ValtechLogoBlack {
  border: 2px solid red;
}

.ValtechLogoBlackContainer {
  width: 100%;
  height: 80px;
  position: relative;
}

.blackBtn {
  background: #000;
  padding: 20px 45px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  z-index: 1;
  position: relative;
  font-weight: 600;
}

.scrollIcons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.scrollIcons svg:first-child {
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

.scrollIcons svg:nth-child(2) {
  font-size: 15px;
  display: block;
  margin: 10px auto 0;
}

.main {
  display: grid;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.container .backgroundTitle {
  font-size: 175px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #000;
  z-index: 0;
  opacity: .1;
  margin-bottom: 5%;
}

.container .title {
  font-size: 75px;
  margin: 0 0 20px 0;
  display: block;
  text-transform: capitalize;
  font-weight: 300;
  z-index: 1;
  position: relative;
}

.container .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 275px;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 15px auto 0;
  z-index: 1;
  position: relative;
}

.container .rectangleLines {
  position: absolute;
  bottom: 200px;
  left: -150px;
  width: 450px;
  height: 184px;
}

.oval {
  position: absolute;
  bottom: 0;
  right: -20%;
  width: 650px;
  height: 100%;
  opacity: .8;
}

.sectionTwo {
  display: grid;
  height: 100vh;
  text-align: center;
  align-items: center;
  position: relative;
}

.sectionTwo .backgroundTitle {
  font-size: 175px;
  font-weight: 800;
  position: absolute;
  top: 7.5%;
  width: 100%;
  color: #000;
  z-index: 0;
  opacity: .1;
}

.sectionTwo .title {
  margin: 0 0 20px 0;
  display: block;
  z-index: 1;
  position: relative;
}

.sectionTwo .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 675px;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 15px auto 0;
  z-index: 1;
  position: relative;
}

.sectionTwo .blueCircle {
  top: 10%;
  left: 10%;
  width: 575px;
  height: 575px;
  background: #5DD1FF 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  border-radius: 100%;
}

.sectionTwo .episodeFilter {
  z-index: 1;
  position: relative;
  margin-top: 30px;
}

.sectionTwo .episodeFilter a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.sectionTwo .episodeFilter a:not(:last-child) {
  padding-right: 20px;
}

.sectionTwo .episodeCards {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1280px;
  margin: 50px auto 0;
  grid-column-gap: 30px;
}

.sectionTwo .episodeCards>div {
  background: #fff;
  box-shadow: 0px 0px 20px #0000002A;
  padding: 35px;
  border-radius: 5px;
  text-align: left;
  display: grid;
}

.sectionTwo .episodeCards>div h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.sectionTwo .episodeCards>div p {
  font-weight: bold;
  margin: 20px 0 10px;
}

.sectionTwo .episodeCards>div>div:first-child>span {
  opacity: .5;
}

.sectionTwo .episodeCards>div>div:nth-child(2) {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sectionTwo .episodeCards>div>div:nth-child(2) span {
  display: grid;
}

.sectionTwo .outlinedBtn {
  background: #fff;
  padding: 20px 45px;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  z-index: 1;
  position: relative;
  font-weight: 700;
  box-sizing: border-box;
  border: 2px solid #000;
  margin-top: 100px;
}

/* SECTION 3 */

.sectionThree {
  background: #111;
  height: 100vh;
  position: relative;
}

.sectionThree>section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  color: #fff;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  align-content: center;
}

.sectionThree>section>div:first-child {
  text-align: left;
  position: relative;
}

.sectionThree>section>div h2 {
  margin: 0 0 20px 0;
  display: block;
  z-index: 1;
  position: relative;
}

.sectionThree>section>div .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 50%;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 30px 0 20px;
  z-index: 1;
  position: relative;
}

.sectionThree>section>div p {
  font-size: 18px;
  line-height: 28px;
  opacity: .75;
  padding-right: 25%;
  font-weight: 400;
}

.sectionThree>section>div:last-child {
  margin: 0 auto;
}

.sectionThree .backgroundTitle {
  font-size: 200px;
  line-height: 200px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
  opacity: .1;
  top: -25%;
  left: -10%;
}

.sectionThree .oval2 {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 0;
  top: -40%;
  left: -20%;
}

.sectionThree div.person1 {
  width: 550px;
  height: 100%;
  position: relative;
}

/* SECTION FOUR */
.sectionFour {
  height: 100vh;
  position: relative;
}

.sectionFour>section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  align-content: center;
}

.sectionFour>section>div h2 {
  margin: 0 0 20px 0;
  display: block;
  z-index: 1;
  position: relative;
}

.sectionFour .backgroundTitle {
  font-size: 200px;
  line-height: 200px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
  opacity: .25;
}

.sectionFour>section>div p {
  font-size: 18px;
  line-height: 28px;
  padding-right: 25%;
  font-weight: 400;
}

.sectionFour>section>div .blueLine {
  content: '';
  height: 2px;
  background: blue;
  width: 50%;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 0;
  z-index: 1;
  position: relative;
}

.sectionFour>section>div:first-child>div {
  position: absolute;
  bottom: 0;
  left: 3%;
}

.sectionFour>section>div:first-child>div p {
  margin: 0 0 5px 0;
  z-index: 2;
  position: relative;
}

.sectionFour>section>div:first-child>div h2,
.sectionFour>section>div:first-child>div .blueLine {
  z-index: 2;
  position: relative;
}

.sectionFour .oval3 {
  position: absolute;
  color: #fff;
  z-index: 1;
  bottom: 0;
  width: 160%;
  height: 150%;
  left: -27%;
  bottom: -36%;
  transform: rotate(7deg);
}

.sectionFour>section>div:first-child .rectangleLines {
  position: absolute;
  bottom: 200px;
  width: 450px;
  height: 184px;
  right: -70%;
  bottom: -23%;
  z-index: 1;
}

.sectionFour .oval4 {
  position: absolute;
  width: 150%;
  height: 160%;
  color: #fff;
  z-index: 0;
  bottom: -23%;
  left: -45%;
}

.sectionFour>section>div:last-child {
  position: relative;
}

.sectionFour>section>div:last-child p {
  position: relative;
  z-index: 1;
}

.sectionFour>section>div:last-child h2 {
  position: relative;
  z-index: 2;
}

.sectionFour .person2 {
  position: relative;
  z-index: 1;
}

.sectionFour>section>div:last-child .rectangleLines {
  position: absolute;
  bottom: 200px;
  width: 450px;
  height: 184px;
  z-index: 1;
  left: -55%;
}

.sectionFour div.person2 {
  width: 550px;
  height: 100%;
  position: relative;
}

/* SECTION FIVE */

.sectionFive {
  background: #111;
  color: #fff;
  padding: 250px 0;
  text-align: center;
}

.sectionFive>section {
  position: relative;
}

.sectionFive .backgroundTitle {
  font-size: 200px;
  line-height: 200px;
  font-weight: 800;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
  opacity: .1;
  left: 0;
  top: -7.5%;
}

.sectionFive h2 {
  margin: 0 0 20px 0;
  display: block;
  z-index: 1;
  position: relative;
}

.sectionFive p {
  font-size: 18px;
  line-height: 28px;
  opacity: .75;
  font-weight: 400;
}

.sectionFive .blueLine:nth-child(3) {
  content: '';
  height: 2px;
  background: blue;
  width: 450px;
  display: block;
  border: 2px solid #5CD0FE;
  margin: 0 auto 30px;
  z-index: 1;
  position: relative;
}

.sectionFive .blueLine:nth-child(10) {
  content: '';
  height: 2px;
  background: blue;
  width: 150px;
  display: block;
  border: 1px solid #5CD0FE;
  margin: 20px auto 30px;
  z-index: 1;
  position: relative;
}

.sectionFive .subscribeInput {
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.sectionFive .subscribeInput input::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionFive .subscribeInput input {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 20px 50px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.sectionFive .subscribeInput button {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 20px 50px;
  background: #5CD0FE;
  text-transform: uppercase;
}

.sectionFive .faEnvelope {
  position: absolute;
  left: 20px;
  display: grid;
  align-self: center;
  display: block;
  color: #000;
  font-size: 18px;
}

.sectionFive .divider {
  content: '';
  height: 2px;
  background: blue;
  width: 850px;
  display: block;
  border: 1px solid #333;
  margin: 100px auto 100px;
  z-index: 1;
  position: relative;
}

.sectionFive .episodeFilter {
  margin-bottom: 100px;
}

.sectionFive .episodeFilter a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.sectionFive .episodeFilter a:not(:last-child) {
  padding-right: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  /* SECTION 1 */

  .main {
    height: auto;
    padding: 50% 0;
  }

  .container {
    background: none;
  }

  .container .ValtechLogoBlackContainer {
    height: 40px;
    margin: 0 auto;
  }

  .container .backgroundTitle {
    font-size: 75px;
    font-weight: 800;
    position: absolute;
    top: 17.5%;
    width: 100%;
    color: #000;
    z-index: 0;
    opacity: .1;
    margin-bottom: 5%;
    display: none;
  }

  .container .title {
    font-size: 35px;
    margin: 0 0 20px 0;
    display: block;
    text-transform: capitalize;
    font-weight: 300;
    z-index: 1;
    position: relative;
  }

  .container .blueLine {
    content: '';
    height: 2px;
    background: blue;
    width: 125px;
    display: block;
    border: 2px solid #5CD0FE;
    margin: 15px auto 0;
    z-index: 1;
    position: relative;
  }

  .container .rectangleLines {
    display: none;
  }

  /* FIX THIS LATER! */
  .oval {
    position: absolute;
    bottom: 0;
    right: -20%;
    width: 450px;
    height: 100%;
    opacity: .8;
    display: none;
  }

  /* SECTION 2 */

  .sectionTwo .blueCircle {
    display: none;
  }

  .sectionTwo .title {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 20px 0;
    display: block;
    text-transform: capitalize;
    font-weight: 800;
    z-index: 1;
    position: relative;
    text-align: left;
    padding: 0 20px;
  }

  .sectionTwo .backgroundTitle {
    font-size: 65px;
    font-weight: 800;
    position: absolute;
    top: 0;
    width: 100%;
    color: #000;
    z-index: 0;
    opacity: .1;
    text-transform: capitalize;
    left: -4%;
    display: none;
  }

  .sectionTwo .blueLine {
    content: '';
    height: 2px;
    background: blue;
    width: 200px;
    display: block;
    border: 2px solid #5CD0FE;
    margin: 10px 20px;
    z-index: 1;
    position: relative;
  }

  .sectionTwo .episodeFilter {
    display: none;
  }

  .scrollIcons {
    display: none;
  }

  .sectionTwo .episodeCards {
    padding: 20px;
    overflow-x: scroll;
    max-width: 320px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(300px, 1fr);
    grid-template-columns: none;
  }

  .sectionTwo .episodeCards>div h3 {
    font-size: 30px;
    line-height: 34px;
  }

  .sectionTwo .episodeCards>div p {
    margin: 20px 0 5px;
  }

  .sectionTwo .episodeCards>div>div:first-child>span {
    opacity: .5;
  }

  .sectionTwo .episodeCards>div>div:nth-child(2) {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* SECTION 3 */

  .sectionThree {
    background: #111;
    height: auto;
    position: relative;
  }

  .sectionThree>section {
    display: block;
    color: #fff;
    align-items: center;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
  }

  .sectionThree>section>div:first-child {
    text-align: left;
    position: relative;
  }

  .sectionThree>section>div h2 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 20px 0;
    display: block;
    text-transform: capitalize;
    font-weight: 800;
    z-index: 1;
    position: relative;
    padding: 20px;
  }

  .sectionThree>section>div .blueLine {
    content: '';
    height: 2px;
    background: blue;
    width: 50%;
    display: block;
    border: 2px solid #5CD0FE;
    margin: 30px 20px 20px;
    z-index: 1;
    position: relative;
  }

  .sectionThree>section>div p {
    font-size: 18px;
    line-height: 28px;
    opacity: .75;
    padding-right: 25%;
    font-weight: 400;
    padding: 0 20px;
  }

  .sectionThree>section>div:last-child {
    margin: 0 auto;
  }

  .sectionThree .backgroundTitle {
    font-size: 65px;
    line-height: 65px;
    font-weight: 800;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    opacity: .1;
    top: 0;
    left: 0;
    padding: 20px;
    display: none;
  }

  .sectionThree .oval2 {
    display: none;
  }

  .sectionThree div.person1 {
    width: auto !important;
    height: 100%;
    position: relative;
    margin: 20px !important;
  }

  /* SECTION 4 */
  .sectionFour {
    height: auto;
    position: relative;
  }

  .sectionFour>section {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .sectionFour>section>div h2 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 20px 0;
    display: block;
    text-transform: capitalize;
    font-weight: 800;
    z-index: 1;
    position: relative;
  }

  .sectionFour .backgroundTitle {
    font-size: 100px;
    line-height: 100px;
    font-weight: 800;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    opacity: .25;
  }

  .sectionFour>section>div p {
    font-size: 18px;
    line-height: 28px;
    padding-right: 25%;
    font-weight: 400;
    display: none;
  }

  .sectionFour>section>div .blueLine {
    content: '';
    height: 2px;
    background: blue;
    width: 100%;
    display: block;
    border: 2px solid #5CD0FE;
    margin: 0;
    z-index: 1;
    position: relative;
  }

  .sectionFour>section>div:first-child>div {
    position: absolute;
    bottom: -10%;
    left: 3%;
    padding: 20px;
    width: 100%;
  }

  .sectionFour>section>div:first-child>div p {
    margin: 0 0 5px 0;
    z-index: 2;
    position: relative;
    display: block
  }

  .sectionFour>section>div:first-child>div h2,
  .sectionFour>section>div:first-child>div .blueLine {
    z-index: 2;
    position: relative;
  }

  .sectionFour .oval3 {
    position: absolute;
    color: #fff;
    z-index: 1;
    bottom: 0;
    width: 141%;
    height: 126%;
    left: -22%;
    bottom: -13%;
    transform: rotate(1deg);
  }

  .sectionFour>section>div:first-child .rectangleLines {
    position: absolute;
    bottom: 200px;
    width: 450px;
    height: 184px;
    right: -70%;
    bottom: -10%;
    z-index: 1;
  }

  .sectionFour .oval4 {
    position: absolute;
    width: 150%;
    height: 160%;
    color: #fff;
    z-index: 0;
    bottom: -23%;
    left: -45%;
    display: none;
  }

  .sectionFour .oval5 {
    width: 170%;
    height: auto;
    position: absolute;
    top: -150px;
    left: -35%;
  }

  .sectionFour>section>div:last-child {
    grid-row-start: 1;
    padding: 0 20px;
  }

  .sectionFour>section>div:last-child p {
    position: relative;
    z-index: 1;
  }

  .sectionFour>section>div:last-child h2 {
    position: relative;
    z-index: 2;
  }

  .sectionFour .person2 {
    position: relative;
    z-index: 1;
  }

  .sectionFour>section>div:last-child .rectangleLines {
    position: absolute;
    width: 450px;
    height: 184px;
    z-index: 1;
    left: -100%;
    bottom: -20%;
  }

  .sectionFour div.person2 {
    width: auto !important;
    height: 450px;
    position: relative;
    margin: 20px !important;
  }

  /* SECTION FIVE */

  .sectionFive {
    background: #111;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }

  .sectionFive>section {
    position: relative;
  }

  .sectionFive .backgroundTitle {
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    opacity: .1;
    left: 0;
    top: -7.5%;
    display: none;
  }

  .sectionFive h2 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 20px 20px;
    display: block;
    text-transform: capitalize;
    font-weight: 800;
    z-index: 1;
    position: relative;
    text-align: left;
  }

  .sectionFive p {
    font-size: 18px;
    line-height: 28px;
    opacity: .75;
    font-weight: 400;
    text-align: left;
    padding: 20px;
  }

  .sectionFive .blueLine:nth-child(3) {
    content: '';
    height: 2px;
    background: blue;
    width: 450px;
    display: block;
    border: 2px solid #5CD0FE;
    margin: 0 auto 30px;
    z-index: 1;
    position: relative;
    display: none;
  }

  .sectionFive .blueLine:nth-child(10) {
    content: '';
    height: 2px;
    background: blue;
    width: 150px;
    display: block;
    border: 1px solid #5CD0FE;
    margin: 20px auto 30px;
    z-index: 1;
    position: relative;
    display: none;
  }

  .sectionFive .subscribeInput {
    display: block;
    margin: 20px;
  }

  .sectionFive .subscribeInput input::placeholder {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .sectionFive .subscribeInput input {
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 20px 0;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }

  .sectionFive .subscribeInput button {
    margin-top: 20px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 20px 0;
    background: #5CD0FE;
    text-transform: uppercase;
    width: 100%;
  }

  /* FIX THIS LATER! */
  .sectionFive .faEnvelope {
    display: none;
  }

  .sectionFive .divider {
    content: '';
    height: 2px;
    background: blue;
    width: 850px;
    display: block;
    border: 1px solid #333;
    margin: 100px auto 100px;
    z-index: 1;
    position: relative;
    display: none;
  }

  .sectionFive .episodeFilter {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .sectionFive .episodeFilter a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: block;
    text-align: center;
  }

  .sectionFive .episodeFilter a:not(:last-child) {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .sectionFive .copyrightText {
    text-align: center;
  }

  /* MENU */
  .noWayThisGonWork .logoArea > div { max-height: 20px; }
  .noWayThisGonWork .logoArea .blueLine { width: 75px; }
  .noWayThisGonWork .logoArea h3 { font-size: 18px; }
}